<a href="https://colab.research.google.com/github/choheeee22/ds_Section1_Project/blob/main/Section1_Project_GameIndustry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import files
uploaded=files.upload()

import io

Saving vgames2.csv to vgames2.csv

In [2]:
dfraw=pd.read_csv("vgames2.csv",thousands=',')
dfraw.drop(dfraw.columns[dfraw.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
dfraw

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

In [3]:
dfraw.dtypes

Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales        object
EU_Sales        object
JP_Sales        object
Other_Sales     object
dtype: object

In [4]:
#결측치 확인
pd.DataFrame(dfraw.isnull().sum(),columns=["결측치 개수"])

             결측치 개수
Name              0
Platform          0
Year            271
Genre            50
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0

In [5]:
#결측치 데이터 확인-null_data
null_data = dfraw[dfraw.isnull().any(axis=1)]
null_data

                                              Name  ... Other_Sales
31                                       Rock Band  ...        0.21
50                        Ape Escape: On the Loose  ...        0.05
109     Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)  ...           0
272                             UK Truck Simulator  ...           0
273    Jewel Link Chronicles: Mountains of Madness  ...        0.01
...                                            ...  ...         ...
16425                               Yoostar on MTV  ...           0
16431            Cars: Mater-National Championship  ...        0.01
16432                                  Bejeweled 3  ...        0.01
16555                          Apache: Air Assault  ...        0.01
16587                 Need for Speed Underground 2  ...         0.1

[357 rows x 9 columns]

In [6]:
#Genre 결측치 데이터 확인-null_data_Genre
null_data_Genre = null_data[null_data['Genre'].isnull()]
null_data_Genre

                                              Name  ... Other_Sales
50                        Ape Escape: On the Loose  ...        0.05
408                                    NBA Ballers  ...        0.02
1328                                    NFL Street  ...        0.02
1582                SingStar Singalong With Disney  ...        0.57
1971                           Pokemon X/Pokemon Y  ...        0.79
2043                                 NASCAR Racing  ...        0.03
2497              Jurassic Park III: Island Attack  ...           0
3353                   The Godfather: Dons Edition  ...        0.03
3363                  Ski-Doo Snowmobile Challenge  ...           0
3470            Batman Beyond: Return of the Joker  ...           0
3515      Princess Saver! Eternal Love for My Lady  ...           0
3932                             MVP Baseball 2004  ...        0.18
4148                           Grand Theft Auto IV  ...        0.08
4349                     Brain Quest: Grades 5 & 6  ...        0.01
4545             Dragon Ball Z: Ultimate Tenkaichi  ...        0.04
4598                                     Wii Party  ...        0.68
4935                              Astonishia Story  ...           0
5668                                  Chrono Cross  ...        0.12
5713                  Back to the Future: The Game  ...           0
5945                             Medabots: Metabee  ...           0
6798                                  UFO: Trilogy  ...           0
7143                  Largo Winch .// Commando Sar  ...           0
7336                                 Madden NFL 11  ...        0.07
7526                               Ukiyo no Shishi  ...           0
7797                     Myth Makers: Orbs of Doom  ...           0
9488                             Final Fantasy XII  ...        1.74
10432        The Mummy: Tomb of the Dragon Emperor  ...        0.01
10501                      Bakemonogatari Portable  ...           0
10874            Karaoke Revolution Glee: Volume 3  ...        0.02
11050                                 Puppy Palace  ...        0.03
11063                                     Yakuza 3  ...        0.08
11268            Cloudy With a Chance of Meatballs  ...        0.01
11496                                     F-Zero X  ...        0.03
11668  The History Channel: Battle for the Pacific  ...        0.01
11699                               Time Travelers  ...           0
12314                                   Ice Hockey  ...        0.01
12331                           Onimusha: Warlords  ...        0.14
12340                             Virtual Chess 64  ...           0
12870         PQ2: Practical Intelligence Quotient  ...           0
12982                                  Urban Chaos  ...        0.01
13348        Treasure Report: Kikai Jikake no Isan  ...           0
14930                            Skylanders Giants  ...        0.22
15077                   Myth Makers: Super Kart GP  ...           0
15211                    James Bond 007: Nightfire  ...        0.03
15426            WarioWare, Inc.: Mega Party Game$  ...        0.02
15526                                   Bloodborne  ...        0.36
16091                       Brain Boost: Beta Wave  ...        0.01
16431            Cars: Mater-National Championship  ...        0.01
16555                          Apache: Air Assault  ...        0.01
16587                 Need for Speed Underground 2  ...         0.1

[50 rows x 9 columns]

수량 단위는 million으로 추정 (1,000,000)
추정 근거 자료 
https://en.wikipedia.org/wiki/List_of_best-selling_video_games

In [7]:
#sales features 뽑아내기 - df_sales
df_sales=dfraw.loc[:,'NA_Sales':'Other_Sales']
df_sales

      NA_Sales EU_Sales JP_Sales Other_Sales
0         0.04        0        0           0
1         0.17        0        0        0.01
2            0        0     0.02           0
3         0.04        0        0           0
4         0.12     0.09        0        0.04
...        ...      ...      ...         ...
16593     0.15     0.04        0        0.01
16594     0.01        0        0           0
16595     0.44     0.19     0.03        0.13
16596     0.05     0.05     0.25        0.03
16597        0        0     0.16        0.01

[16598 rows x 4 columns]

In [8]:
for i in df_sales.iteritems():
  print(i)

('NA_Sales', 0        0.04
1        0.17
2           0
3        0.04
4        0.12
         ...
16593    0.15
16594    0.01
16595    0.44
16596    0.05
16597       0
Name: NA_Sales, Length: 16598, dtype: object)
('EU_Sales', 0           0
1           0
2           0
3           0
4        0.09
         ...
16593    0.04
16594       0
16595    0.19
16596    0.05
16597       0
Name: EU_Sales, Length: 16598, dtype: object)
('JP_Sales', 0           0
1           0
2        0.02
3           0
4           0
         ...
16593       0
16594       0
16595    0.03
16596    0.25
16597    0.16
Name: JP_Sales, Length: 16598, dtype: object)
('Other_Sales', 0           0
1        0.01
2           0
3           0
4        0.04
         ...
16593    0.01
16594       0
16595    0.13
16596    0.03
16597    0.01
Name: Other_Sales, Length: 16598, dtype: object)

In [9]:
for i in df_sales.items():
  print(i)

('NA_Sales', 0        0.04
1        0.17
2           0
3        0.04
4        0.12
         ...
16593    0.15
16594    0.01
16595    0.44
16596    0.05
16597       0
Name: NA_Sales, Length: 16598, dtype: object)
('EU_Sales', 0           0
1           0
2           0
3           0
4        0.09
         ...
16593    0.04
16594       0
16595    0.19
16596    0.05
16597       0
Name: EU_Sales, Length: 16598, dtype: object)
('JP_Sales', 0           0
1           0
2        0.02
3           0
4           0
         ...
16593       0
16594       0
16595    0.03
16596    0.25
16597    0.16
Name: JP_Sales, Length: 16598, dtype: object)
('Other_Sales', 0           0
1        0.01
2           0
3           0
4        0.04
         ...
16593    0.01
16594       0
16595    0.13
16596    0.03
16597    0.01
Name: Other_Sales, Length: 16598, dtype: object)

In [10]:
substring=['K']

In [11]:
#K 바꾸는 함수 (# K->  숫자 *1/1000, M-> 지우기 )
def Kto_numeric(i):
  for index,value in df_sales.iteritems():
    #if index==columnname:
    if value.str.contains("K").any():
      value=value.str.replace('K','')
      try:
        value=pd.to_numeric(value)
      #except:
      #continue
        return value=value*(1/1000)

SyntaxError: ignored

In [ ]:
Kto_numeric(i)

In [ ]:
#K 바꾸는 함수 (# K->  숫자 *1/1000, M-> 지우기 )
def Mto_numeric(i):
  for index,value in df_sales.iteritems():
    #if index==columnname:
    if value.str.contains("M").any():
      value=value.str.replace('M','')
      try:
        value=pd.to_numeric(value)
      except:
        continue
    value=value

In [38]:
def converting(x) :
  if "K" in str(x):
    return pd.to_numeric(str(x).replace("K",""))*(1/1000)
  elif "M" in str(x):
    return pd.to_numeric(str(x).replace("M",""))
  else:
    return float(x)

In [50]:
df_sales['NA_Sales'].apply(converting,)

0        0.04
1        0.17
2        0.00
3        0.04
4        0.12
         ...
16593    0.15
16594    0.01
16595    0.44
16596    0.05
16597    0.00
Name: NA_Sales, Length: 16598, dtype: float64

In [42]:
df_sales['EU_Sales'].apply(converting)

0        0.00
1        0.00
2        0.00
3        0.00
4        0.09
         ...
16593    0.04
16594    0.00
16595    0.19
16596    0.05
16597    0.00
Name: EU_Sales, Length: 16598, dtype: float64

In [44]:
df_sales['JP_Sales'].apply(converting)

0        0.00
1        0.00
2        0.02
3        0.00
4        0.00
         ...
16593    0.00
16594    0.00
16595    0.03
16596    0.25
16597    0.16
Name: JP_Sales, Length: 16598, dtype: float64

In [45]:
df_sales['Other_Sales'].apply(converting)

0        0.00
1        0.01
2        0.00
3        0.00
4        0.04
         ...
16593    0.01
16594    0.00
16595    0.13
16596    0.03
16597    0.01
Name: Other_Sales, Length: 16598, dtype: float64