In [ ]:
import pandas as pd
from google.colab import files
uploaded=files.upload()

import io

Saving vgames2.csv to vgames2.csv

In [ ]:
dfraw=pd.read_csv("vgames2.csv",thousands=',')
dfraw.drop(dfraw.columns[dfraw.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
dfraw

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

In [ ]:
dfraw.dtypes

Name            object
Platform        object
Year           float64
Genre           object
Publisher       object
NA_Sales        object
EU_Sales        object
JP_Sales        object
Other_Sales     object
dtype: object

In [ ]:
#결측치 확인
pd.DataFrame(dfraw.isnull().sum(),columns=["결측치 개수"])

             결측치 개수
Name              0
Platform          0
Year            271
Genre            50
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0

In [ ]:
#결측치 데이터 확인
pd.DataFrame(dfraw.isin())

수량 
https://en.wikipedia.org/wiki/List_of_best-selling_video_games